{% extends 'main.html' %}
{% load static %}
{% block title %}Termux-Django{% endblock title %}
{% block style %}
.row{

}
.card{
	margin:10px;
}
.card-body{
	display:inline-block;
}
.footer{

   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}
.loc_img{
  display:block;

}
{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark primary-color sticky-top">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="{% url 'home' %}">Termux-Django{% if request.user.is_authenticated %} Administrator   {% endif %}</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'photos' %}">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'location' %}">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'recordings' %}">Recordings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'view_call_logs' %}">Call Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% endif %}
      <!-- Dropdown -->

    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

</nav>
{% endblock nav %}
{% block content %}
<div class="messages">
{% for msg in messages %}

<div class="alert alert-{{msg.level_tag}}" role="alert">
{{msg.message}}
</div>

{%  endfor  %}
</div>
<br>
<script type="text/javascript">
function whichCamera(){
if(document.getElementById('cam1').checked){
  window.location.href="{% url 'click_photo' 'front' %}"
}
else{
  window.location.href="{% url 'click_photo' 'rear' %}"
}
}
  </script>
<div class="card">
  <h5 class="card-header alert alert-primary font-weight-bold">Operations</h5>
  <div class="card-body">
    <p class="card-text">Battery: Health:{{battery.health}}, Percentage:{{battery.percentage}}%, Plugged:{{battery.plugged}}, Status:{{battery.status}}, Temperature:{{battery.temperature}} C</p>
    <ul>
    </ul>
    <a class="btn btn-success btn-sm"onclick="whichCamera()">Capture Photo</a>
     <div class="form-check">
  <input class="form-check-input" type="radio" name="cam" id="cam1" value="front"  required checked>
  <label class="form-check-label" for="cam1">
    Front
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="cam" id="cam2" value="rear">
  <label class="form-check-label" for="cam2">
    Rear
  </label>
</div>
<form class="form-group" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
<label for="customRange2" class="form-label">Brightness</label>
<input type="range" class="form-range" min="0" max="255" id="customRange2" name="bright">
<button type="submit" class="btn btn-success btn-sm" name="setBright" value="True">Change Brightness</button>
</form>
<form class="form-group" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
<label for="customRange3" class="form-label">Volume</label>
<input type="range" class="form-range" min="0" max="15" id="customRange3" name="volume">
<button type="submit" class="btn btn-success btn-sm" name="setVolume" value="True">Change Volume</button>
</form>
<form class="form-group" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
<label for="customRange2" class="form-label">Vibrate</label>
<input type="text" id="vibs" name="duration" placeholder="Time in ms" required>
<button type="submit" class="btn btn-success btn-sm" name="vibrate" value="True">Vibrate Now</button>
</form>
<form class="form-group" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
<label for="customRange2" class="form-label">Phone call</label>
<input type="text" id="phn" name="number" placeholder="Phone Number" required>
<button type="submit" class="btn btn-success btn-sm" name="telephone" value="True">Start Call</button>
</form>
<form class="form-group" method="POST" action="{% url 'record_audio_now' %}">
  {% csrf_token %}
<label for="customRange2" class="form-label">Record Audio</label>
<input type="text" id="sec" name="duration" placeholder="Time in seconds" required>
<button type="submit" class="btn btn-success btn-sm" name="audio" value="True">Start Recording
</button>
</form>
<form class="form-group" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
<label for="customRange2" class="form-label">Display Notification</label>
<input type="text" id="msgDisp" name="msgText" placeholder="message to display" required>
<button type="submit" class="btn btn-success btn-sm" name="pushNotification" value="True">Push Notification
</button>
</form>
<form class="form-group" method="POST" action="{% url 'home' %}">
  {% csrf_token %}
<label for="customRange2" class="form-label">Toast Notification</label>
<input type="text" id="msgDisp2" name="bcolor" placeholder="Background color default-gray">
<input type="text" id="msgDisp3" name="tcolor" placeholder="Text color default-white">
<input type="text" id="msgDisp1" name="msgText" placeholder="message to display" required>
<button type="submit" class="btn btn-success btn-sm" name="popNotification" value="True">Pop Notification
</button>
</form>
<a href="{% url 'torch' 'True' %}" class="btn btn-success btn-sm">Torch ON</a>
<a href="{% url 'torch' 'False' %}" class="btn btn-success btn-sm">Torch OFF</a>
  </div>

</div>
{% endblock content %}
{% block footer %}


{% endblock footer %}
